.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-panel {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.App-panel > div, form {
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}
